@import "../styles/common/variables.scss";
@import "../styles/button.scss";
@import "../styles/header.scss";
@import "../styles/main.scss";
@import "../styles/footer.scss";
@import "../styles/error.scss";

.large-container {
	display: flex;
	flex-direction: column;
	background: url("../assets/bg-mandalorian.webp");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
}

.large-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.large-container header,
.large-container main,
.large-container footer {
	width: 90vw;
	max-width: 1280px;
	margin: 0 auto;
}

.large-container main {
	flex: 1;
}

