@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

$tipography-content: "Teko", sans-serif;

$text-5xl: 3rem;
$line-height-5xl: 1;

$text-4xl: 2.25rem;
$line-height-4xl: 2.5rem;

$text-3xl: 1.875rem;
$line-height-3xl: 2.25rem;

$text-2xl: 1.5rem;
$line-height-2xl: 2rem;

$text-xl: 1.25rem;
$line-height-xl: 1.75rem;

$text-lg: 1.125rem;
$line-height-lg: 1.75rem;

$text-md: 1rem;
$line-height-md: 1.5rem;

$text-sm: 0.875rem;
$line-height-sm: 1.25rem;

$text-xs: 0.75rem;
$line-height-xs: 1rem;

$primary-color: #f6d47d;
$secondary-color: #de9460;
